.typography {
}

.h1 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-8);
  letter-spacing: var(--font-letterspacing-0);
  margin: 0;
}

.h2 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-7);
  letter-spacing: var(--font-letterspacing-1);
  margin: 0;
}

.h3 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-6);
  letter-spacing: var(--font-letterspacing-1);
  margin: 0;
}

.h4 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-5);
  letter-spacing: var(--font-letterspacing-1);
  margin: 0;
}

.h5 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-4);
  letter-spacing: var(--font-letterspacing-1);
  margin: 0;
}

.h6 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-3);
  letter-spacing: var(--font-letterspacing-1);
  margin: 0;
}

.subtitle1 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-2);
  margin: 0;
}

.subtitle2 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-1);
  margin: 0;
}

.body1 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-2);
  margin: 0;
}

.body2 {
  font-family: var(--default-font);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-1);
  margin: 0;
}

.button {
  font-family: var(--default-font);
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-1);
  text-transform: uppercase;
  margin: 0;
}

.caption {
  font-family: var(--default-font);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-0);
  margin: 0;
}

.overline {
  font-family: var(--default-font);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-0);
  text-transform: uppercase;
  margin: 0;
}
