.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--gray-0);
}

.small {
  max-width: 540px;
}

.medium {
  max-width: 720px;
}

.large {
  max-width: 960px;
}
