.button {
  font-family: var(--default-font);
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-1);
  height: 40px;
  padding: 0 24px;
  border: none;
  background: none;

  --main-color: var(--color-primary);
  --hover-color: var(--color-secondary);
  --active-color: var(--gray-5);
}

.button:hover {
  background-color: var(--hover-color);
  transition: background-color var(--default-transition);
}

.button:active {
  background-color: var(--active-color);
  transition: 0;
}

.outlined {
  border: 2px solid var(--main-color);
}

.outlined:hover {
  border-color: var(--hover-color);
}

.filled {
  background-color: var(--main-color);
}

.rounded {
  border-radius: var(--radius-5);
}

.square {
  border-radius: 0;
}
