.button {
  font-family: var(--default-font);
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-1);
  height: 40px;
  padding: 0 24px;
}

.text {
  background: none;
  border: none;
}

.text:hover {
  color: var(--color-primary);
  transition: var(--default-transition);
}

.outlined {
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--radius-5);
  border-color: var(--color-primary);
}

.outlined:hover {
  background-color: var(--color-primary);
  transition: var(--default-transition);
}

.filled {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--radius-5);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.filled:hover {
  background-color: var(--color-white);
  transition: var(--default-transition);
}
