.experience {
  height: 100%;
}

.typewriter {
  overflow: hidden;
  border-right: 0.2em solid var(--color-secondary);
  animation: typing 1.5s steps(15, end), blink-caret 1s step-end infinite;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-secondary);
  }
}

.slideInUp {
  opacity: 0;
  animation: var(--animation-fade-in) forwards, var(--animation-slide-in-up);
  animation-duration: 0.8s;
}

.delayFirst {
  animation-delay: 0.8s;
}

.workingExperience::before {
  content: counter(count);
  animation: counter 1s linear forwards;
  animation-delay: 1s;
}

.summary {
  opacity: 0;
  animation: var(--animation-fade-in) forwards;
  animation-duration: 1s;
  animation-delay: 2s;
}

@keyframes counter {
  0% {
    counter-increment: count 0;
  }
  33% {
    counter-increment: count 1;
  }
  66% {
    counter-increment: count 2;
  }
  100% {
    counter-increment: count 3;
  }
}

.avatar {
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.navigation {
  display: flex;
}

.contact {
  margin-top: 10px;
  display: flex;
  align-self: center;
  gap: 10px;
}
