.about {
  margin-top: 50px;
}

.content {
  font-family: var(--default-font);
  padding: 20px 50px;
}

.content h1 {
  margin-bottom: 10px;
}

.content h2 {
  margin-bottom: 8px;
}

.content ul {
  margin-bottom: 20px;
}

.content li {
  margin-bottom: 5px;
}

.content a {
  color: var(--color-primary);
}
