@import "open-props/style";

:where(html) {
  --color-primary-dark: var(--blue-6);
  --color-primary: var(--blue-4);
  --color-primary-light: var(--blue-2);
  --color-secondary-dark: var(--orange-6);
  --color-secondary: var(--orange-4);
  --color-secondary-light: var(--orange-2);
  --color-error: var(--red-6);
  --color-warning: var(--yellow-3);
  --color-success: var(--green-5);
  --color-text: var(--gray-8);
  --color-disabled: var(--gray-4);

  --default-font: var(--font-sans);
  --default-transition: 0.5s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
