@import "open-props/colors";

:where(html) {
  --color-primary: var(--blue-6);
  --color-secondary: var(--yellow-5);
  --color-error: var(--red-6);
  --color-warning: var(--yellow-3);
  --color-success: var(--green-5);
  --color-text: var(--gray-8);
  --color-disabled: var(--gray-4);
}
