.card {
  box-shadow: var(--shadow-3);
  border-style: solid;
  border-radius: var(--radius-4);
  padding: var(--radius-3);
  border-color: var(--gray-5);
  background-color: var(--gray-0);
}

.elevated {
  border: none;
  border-width: 0px;
}

.outlined {
  border-width: 2px;
}

.filled {
  background-color: var(--color-primary);
  border-width: 2px;
}
