.large {
  min-width: var(--font-size-6);
  max-width: var(--font-size-6);
  min-height: var(--font-size-6);
  max-height: var(--font-size-6);
}

.medium {
  min-width: var(--font-size-5);
  max-width: var(--font-size-5);
  min-height: var(--font-size-5);
  max-height: var(--font-size-5);
}

.small {
  min-width: var(--font-size-4);
  max-width: var(--font-size-4);
  min-height: var(--font-size-4);
  max-height: var(--font-size-4);
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.text {
  color: var(--color-text);
}

.disabled {
  color: var(--color-disabled);
}
